<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Resultados!</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lista de tecnicos!</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Resultados Comparacion</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/ejercicio">Nueva Comparacion</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        <table class=" table">
            <thead class = "table-secondary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< matrizM.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td><%= matrizM[i][0]%></td>
                    <td><%= matrizM[i][1]%></td>
                </tr>
            <% } %>
            </tbody>
        </table>

            <%if(matrizM.length === 0 ) { %>
                <h5> No hay resultados </h5>
            <% } %>
        </div>
    </div>

</body>
</html>